<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/scrollbar.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/transicion.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/clases.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/card.css"/>
    <link rel="icon" href="/assets/img-svg/folder.svg"/>
    <% if(data.nom == '/') { %> 
        <title>Home</title>
    <% } else { %>
        <title><%= data.nom %></title>
    <% } %>
</head>
<body class="hide">

    <div id="container-water">
        <div class="water"></div>
        <div class="row">
            <h1 class="m-5 text-light">GESTOR DOCUMENTAL</h1>
        </div>
    </div>

    <!-- NAVBAR SUPERIOR -->
    <nav id="navbar" class="navbar navbar-light bg-light shadow-sm">
        <div class="row container-fluid">
            <div class="col-auto justify-content-left">
                <a class="navbar-brand" href="/home"><h6 class="m-2">Gestor Documental</h6></a>
            </div>
            <div class="col-auto justify-content-right text-center">
                <a class="btn" id="volver"><img src="/assets/img-svg/back.svg" class="img-fluid" width="25"></a>
                <a class="btn" href="/home"><img src="/assets/img-svg/home.svg" class="img-fluid" width="35"></a>
            </div>
        </div>
    </nav>

    <!-- CONTENEDOR DE TU POSICION -->
    <div class="container-fluid">
        <div class="col text-center text-light ruta">
            <p class="peq">Te encuentras en: <%= ' ' + data.nom %></p>
        </div>
    </div>

        <% if (data.hijos.length != 0) { %>
        <!-- CONTENEDOR DE DIRECTORIOS -->
            <div class="dir">
                <div class="d-flex text-light mb-2">Directorios <%= data.hijos.length  %></div>
                <% data.hijos.forEach(function(hijo, i) { %> 
                <% if ((i % 3) == 0) { %>
                <div class="row">
                <% }  %>
                    <div class="col card m-1 shadow-sm">
                        <div class="d-flex">
                            <div class="justify-content-left align-self-center me-auto px-1">
                                <img src="/assets/img-svg/folder.svg" class="img-fluid m-2 svg" width="30" alt="folder">
                            </div>
                            <div class="col">
                                <a class="btn card-body" href="<%= '/'+ hijo.rutaRelativa %>">
                                    <%= hijo.nombre %>
                                </a>
                            </div>
                        </div> 
                    </div>
                <% if ((i % 3) == 2) { %>
                </div>
            <% } %>
        <% }) %>
        </div>
    </div>
    <hr>
    <% } %>

    <!-- CONTENEDOR DE ARCHIVOS -->
    <% if (data.archivos.length > 0) { %>
    <div class="file">
        <div class="d-flex text-light mb-2">Archivos <%= data.archivos.length %></div>
        <% data.archivos.forEach(function(ar, i) { %>
        <% if ((i % 3) == 0) { %>
            <div class="row">
            <% } %>
            <div class="col card m-1 shadow-sm">
                <div class="d-flex">
                    <div class="justify-content-left align-self-center px-1">
                        <img src="/assets/img-svg/<%=data.extensiones[i]%>.svg" class="text-center m-2 svg" width="35" alt="file <%=data.extensiones[i]%>">
                    </div>
                    <div>
                        <form action="/descargar" method="post">
                            <input type="text" name="descargar" class="hide" value="<%=ar%>">
                            <button type="submit" class="btn text-break card-body archivo"><%=ar%></button>
                        </form>
                    </div>
                    <div class="justify-content-right align-self-center ms-auto px-1">
                        <form action="/eliminar?_method=DELETE" class="cerrar" id="<%=ar%>" name="formEliminar" method="POST">
                            <input type="text" name="archivo" class="hide" value="<%=ar%>">
                            <button type="submit" class="btn-close mx-2"></button>
                        </form>
                    </div>
                </div>
            </div>
            <% if ((i % 3) == 2) { %>
            </div>
            <% } %>
        <% }) %>
        </div>
        </div>
    </div>
    <hr>
    <% } %>

    <% if (data.archivos.length == 0 && data.hijos.length == 0) { %>
    <!-- CONTENIDO EN CASO DE NO HABER NI DIRECTORIOS NI ARCHIVOS -->
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col text-center"><img src="/assets/img-svg/vacio.png" class="img-fluid invertido" width="150"></div>
            </div>
            <div class="row mt-2">
                <div class="col text-center justify-content-center invertido">
                    <h3>UPS, aqui no hay ni directorios ni archivos.</h3>
                </div>
            </div>
            <div class="row text-center">
                <a id="regresar"><img src="/assets/img-svg/back.svg" class="img-fluid invertido" width="45"></a>
            </div>
        </div>
    <% } %>
    <!-- APARTADO PARA SUBIR ARCHIVOS -->
        <div class="subir-archivo">
        <div class="d-flex text-light mb-2">Subir un archivo <img src="/assets" alt="info"> </div>
            <div class="row">
                <div class="col m-1 shadow-sm">
                    <form action="/subir" method="post" id="subir" enctype="multipart/form-data">
                        <div class="row justify-content-center">
                            <div class="input-group mb-3">
                                <input type="file" class="form-control" id="subir-campo" name="file_data" required>
                                <label class="input-group-text card"  type="submit" id="subir-boton">Subir archivo</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>
    </div> 

<!-- SCRIPTS -->        
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/script/ventana.js"></script>
    <script src="/script/botones.js"></script>
</body>
</html>