<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="./assets/css/style.css" rel="stylesheet"/>
    <link href="./assets/css/card.css" rel="stylesheet"/>
    <link rel="icon" href="assets/img/icon600x600.png"/>
    <title><%= data.nom %> </title>
</head>
<body>
    <nav class="navbar navbar-light bg-light shadow">
        <div class="container-fluid justify-content-left">
            <a class="navbar-brand" href="/home"><h5 class="mt-2">G. Documental</h5></a>
            <div>
                <span class="input-group-text">Te encuentras en: <%= ' ' + data.nom %></span>
            </div>
        </div>
    </nav>
    <div class="container-fluid mt-2">
        <div class="d-flex text-light">Directorios <%= data.hijos.length %></div>
        <div class="dir mt-2">
                <% data.hijos.forEach(function(hijo, i) { %> 
                    <% if ((i % 3) == 0) { %>
                        <div class="row">
                    <% }  %>
                    <div class="col card shadow m-2">
                        <a class="btn card-body" href="<%= '/'+ hijo.rutaRelativa %>">
                            <%= hijo.nombre %>
                        </a>
                    </div>
                    <% if ((i % 3) == 2) { %>
                        </div>
                    <% } %>
                <% }) %>
        </div>
        <div class="d-flex text-light">Archivos <%= data.archivos.length %></div>
        <div class="archivos mt-2">
                <% data.archivos.forEach(function(ar, i) { %>
                    <% if ((i % 3) == 0) { %>
                        <div class="row">
                    <% } %>
                    <div class="col card shadow m-2">
                        <a class="btn card-body">
                        <%= ar %>
                        </a>
                    </div>
                    <% if ((i % 3) == 2) { %>
                        </div>
                    <% } %>
                <% }) %>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
</body>
</html>