<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('componentes/links') %> 
    <%- include('componentes/titulo') %>
</head>
<body class="hide">
    <%- include('componentes/navbar') %> 
    <%- include('componentes/buscador') %> 
    <% if (data.hijos.length > 0) { %>
        <!-- CONTENEDOR DE DIRECTORIOS -->
            <div class="container-fluid">
                <div class="accordion-item accordion-item-r-top">
                    <h2 class="accordion-header" id="flush-directorios">
                    <button 
                        class="accordion-button collapse show" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#flush-collapse-one" 
                        aria-controls="flush-collapse-one">
                        Directorios
                        <div class="mx-1" id="dir-titulo">0</div>
                    </button>
                </h2>
                    <div 
                    id="flush-collapse-one" 
                    class="accordion-collapse collapse show" 
                    aria-labelledby="flush-directorios" 
                    data-bs-parent="#acordeon">
                        <div class="dir">
                            <input type="hidden" id="dir-numero" value="<%= data.hijos.length %>">
                            <% data.hijos.forEach(function(hijo, i) { %> 
                            <% if ((i % 2) == 0) { %>
                            <div class="row p-1 gap-2">
                                <% }  %>
                                <div class="col-md file-estilo bg-light" id="file-estilo<%= i %>">
                                    <div class="d-flex">
                                        <div class="justify-content-left align-self-center me-auto px-1">
                                            <img src="/assets/img-svg/folder.svg" class="img-fluid m-2 svg" width="30" alt="folder">
                                        </div>
                                        <div class="col text-truncate">
                                            <a class="btn card-body directorio" href="<%= '/' + hijo.rutaRelativa %>">
                                                <%= hijo.nombre %>
                                            </a>
                                        </div>
                                    </div> 
                                </div>
                                <% if ((i % 2) == 1) { %>
                            </div>
                            <% } %>
                            <% }) %>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    <% } %>

            
        <% if (data.archivos.length > 0) { %>
            <!-- CONTENEDOR DE ARCHIVOS -->
            <div class="container-fluid">
                <div class="accordion-item accordion-item-r-bottom">
                    <h2 class="accordion-header" id="flush-archivos">
                        <button 
                        class="accordion-button collapse show" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#flush-collapseTwo"
                        data-bs-parent="#acordeon">
                        Archivos
                        <div class="mx-1" id="archivos-titulo">0</div>
                        </button>
                    </h2>
                    <div 
                        id="flush-collapseTwo" 
                        class="accordion-collapse collapse show" 
                        aria-labelledby="flush-archivos"
                        data-bs-parent="#acordeon">
                        <div class="file">
                            <input type="hidden" id="archivos-numero" value="<%= data.archivos.length %>">
                            <% data.archivos.forEach(function(ar, i) { %>
                            <% if ((i % 2) == 0) { %>
                            <div class="row p-1 gap-2">
                                <% } %>
                                <div class="col-md file-estilo bg-light text-dark" id="<%= 'arch-estilo' + i %>">
                                    <div class="d-flex">
                                        <div class="justify-content-left align-self-center px-1">
                                            <img src="/assets/img-svg/<%= data.extensiones[i] %>.svg" class="m-2 svg img-archivo" width="35" alt="file <%= data.extensiones[i] %>">
                                        </div>
                                        <div class="col text-truncate">
                                            <form action="/descargar" method="post">
                                                <input type="hidden" name="descargar" value="<%= ar %>">
                                                <button type="submit" class="btn text-break card-body archivo text-truncate"><%= ar %></button>
                                            </form>
                                        </div>
                                        <div class="justify-content-right align-self-center ms-auto px-1">
                                            <form action="/eliminar?_method=DELETE" class="cerrar" id="<%= ar + 'form' %>" name="formEliminar" method="POST">
                                                <input type="hidden" name="archivo" value="<%= ar %>">
                                                <% if (rol == 'escritura') { %>
                                                    <button type="submit" class="btn-close mx-2"></button>
                                                <% } %>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <% if ((i % 2) == 1) { %>
                                </div>
                                <% } %>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            </div>
        </div>
    </div>

    <%- include('componentes/modal') %> 
    <%- include('componentes/cerrar') %> 
    <%- include('componentes/lateral') %> 
    <%- include('componentes/login') %> 
    <%- include('componentes/vacio') %> 
    <%- include('componentes/subir') %>
    <%- include('componentes/scripts') %> 
    
</body>
</html>