<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('componentes/links') %> 
    <%- include('componentes/titulo') %>
</head>
<body class="hide">
    <%- include('componentes/navbar') %> 
    <%- include('componentes/buscador') %> 
    <% if (directorios.hijos.length > 0) { %>
        <!-- CONTENEDOR DE DIRECTORIOS -->
            <div class="container-fluid">
                <div class="accordion-item shadow-sm border-0 mb-3">
                    <h2 class="accordion-header" id="flush-directorios">
                        <button 
                            class="accordion-button collapse show" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#flush-collapse-one" 
                            aria-controls="flush-collapse-one">
                            Directorios
                            <div class="mx-1 fw-bold" id="dir-titulo">0</div>
                        </button>
                    </h2>
                    <div 
                    id="flush-collapse-one" 
                    class="accordion-collapse collapse show" 
                    aria-labelledby="flush-directorios"                     
                    data-bs-parent="#acordeon">
                        <div class="dir">
                            <input type="hidden" id="dir-numero" value="<%= directorios.hijos.length %>">
                            <% directorios.hijos.forEach(function(hijo, i) { %> 
                            <% if ((i % 3) == 0) { %>
                            <div class="row">
                                <% }  %>
                                <div class="col m-2 text-truncate" id="<%= 'file-estilo' + i %>">
                                    <div class="card card-span">
                                      <div class="card-body p-3 shadow-sm border-bottom border-3 border-color">
                                        <div class="justify-content-left align-self-center text-center">
                                            <img src="/assets/img-svg/folder.svg" class="img-fluid svg" width="30" alt="folder">
                                        </div>
                                        <div class="col text-center">
                                            <div class="text-muted">Directorio</div>
                                        </div>
                                        <div class="col text-truncate text-center text-dark">
                                            <a class="text-decoration-none text-color fw-bold card-body directorio" href="<%= '/' + hijo.rutaRelativa %>">
                                                <%= hijo.nombre %>
                                            </a>
                                        </div>
                                      </div>
                                    </div>
                                </div>

                                <% if ((i % 3) == 2) { %>
                            </div>
                            <% }}) %>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    <% } %>
            
        <% if (directorios.archivos.length > 0) { %>
            <!-- CONTENEDOR DE ARCHIVOS -->
            <div class="container-fluid">
                <div class="accordion-item shadow-sm border-0 mb-3">
                    <h2 class="accordion-header" id="flush-archivos">
                        <button 
                        class="accordion-button collapse show" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#flush-collapseTwo"
                        data-bs-parent="#acordeon">
                            Archivos
                            <div class="mx-1 fw-bold" id="archivos-titulo">0</div>
                        </button>
                    </h2>
                    <div 
                        id="flush-collapseTwo" 
                        class="accordion-collapse collapse show" 
                        aria-labelledby="flush-archivos"
                        data-bs-parent="#acordeon">
                        <div class="file">
                            <input type="hidden" id="archivos-numero" value="<%= directorios.archivos.length %>">
                            <% directorios.archivos.forEach(function(archivo, i) { %>
                            <% if ((i % 3) == 0) { %>
                            <div class="row">
                            <% } %>
                                <div class="col-sm m-2 text-truncate" id="<%= 'arch-estilo' + i %>">
                                    <div class="card card-span">
                                        <div class="card-body p-0 shadow-sm border-bottom border-3 border-color">
                                            <div class="text-end dropstart">
                                                <button type="button" class="btn btn-sm" id="dropdownDesplegable<%= i %>" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="1,-15">
                                                    <i class="bi bi-three-dots-vertical text-color" style="font-size: 1.4rem;"></i>
                                                </button>
                                                <ul class="dropdown-menu p-0" aria-labelledby="dropdownDesplegable<%= i %>">
                                                    <li class="dropdown-item mt-0 pt-0 px-0">
                                                        <form action="/descargar" class="text-end d-grid" method="post">
                                                            <input type="hidden" name="descargar" value="<%= archivo %>">
                                                            <button type="submit" class="btn btn-color btn-sm ">Descargar</button>
                                                        </form>
                                                    </li>
                                                    <% if (rol == 'escritura') { %>
                                                    <li class="dropdown-item mt-0 pt-0 px-0">
                                                        <form action="/eliminar?_method=DELETE" class="cerrar text-end d-grid" id="<%= archivo + 'form' %>" name="formEliminar" method="POST">
                                                            <input type="hidden" name="archivo" value="<%= archivo %>">
                                                                <button class="btn btn-color btn-sm" type="submit">Eliminar</button>
                                                        </form>
                                                    </li>
                                                    <li class="dropdown-item text-end d-grid mt-0 pt-0 px-0">
                                                        <a class="btn btn-color btn-sm" href="/registros?archivo=<%= archivo %>">Ver versiones</a>
                                                    </li>
                                                    <% } %>
                                                </ul>
                                            </div>
                                        <div class="justify-content-left align-self-center text-center">
                                            <img src="/assets/img-svg/<%= directorios.extensiones[i] %>.svg" class="m-2 svg img-archivo" width="35" alt="file <%= directorios.extensiones[i] %>">
                                        </div>
                                        <div class="col text-center">
                                            <div class="text-muted">Archivo (<%= directorios.extensiones[i] %>)</div>
                                        </div>
                                        <div class="col text-center text-dark">
                                            <form action="/descargar" method="post">
                                                <input type="hidden" name="descargar" value="<%= archivo %>">
                                                <button type="submit" class="btn text-decoration-none text-color fw-bold card-body archivo">
                                                    <%= archivo %>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                             </div>
                            <% if ((i % 3) == 2) { %>
                            </div>
                            <% } %>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            </div>
        </div>
    </div>

    <%- include('componentes/modal') %> 
    <%- include('componentes/cerrar') %> 
    <%- include('componentes/lateral') %> 
    <%- include('componentes/login') %> 
    <%- include('componentes/vacio') %> 
    <%- include('componentes/subir') %>
    <%- include('componentes/scripts') %> 
    
</body>
</html>