<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/clases.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/card.css">
    <link rel="icon" href="/assets/img/icon600x600.png"/>
    <% if(data.nom == '/') { %> 
        <title>Home</title>
    <% } else { %>
        <title><%= data.nom %></title>
    <% } %>
</head>
<body>
    <!-- NAVBAR SUPERIOR -->
    <nav class="navbar navbar-light bg-light shadow-sm">
        <div class="row container-fluid p-2">
            <div class="col-auto justify-content-left">
                <a class="navbar-brand" href="/home"><h5 class="mt-2">Gestor Documental</h5></a>
            </div>
            <div class="col-auto justify-content-right text-center">
                <a class="btn" id="volver"><img src="/assets/img/volver.png" class="img-fluid" width="25"></a>
                <a class="btn" href="/home"><img src="/assets/img/home.png" class="img-fluid" width="35"></a>
            </div>
        </div>
    </nav>

    <!-- CONTENEDOR DE TU POSICION -->
    <div class="container-fluid">
        <div class="col text-center rounded text-light">
            <p class="peq">Te encuentras en: <%= ' ' + data.nom %></p>
        </div>
    </div>

        <% if (data.hijos.length != 0) { %>
        <!-- CONTENEDOR DE DIRECTORIOS -->
        <div class="container-fluid mt-1">
        <div class="d-flex text-light">Directorios <%= data.hijos.length  %></div>
            <div class="dir mt-2">
                <% data.hijos.forEach(function(hijo, i) { %> 
                <% if ((i % 3) == 0) { %>
                <div class="row">
                <% }  %>
                    <div class="col card shadow-sm m-2">
                        <a class="btn card-body" href="<%= '/'+ hijo.rutaRelativa %>">
                            <%= hijo.nombre %>
                        </a>
                    </div>
                <% if ((i % 3) == 2) { %>
                </div>
            <% } %>
        <% }) %>
        </div>
    </div>
    <hr>
    <% } %>

    <!-- CONTENEDOR DE ARCHIVOS -->
    <% if (data.archivos.length > 0) { %>
    <div class="container-fluid mt-2">
    <div class="d-flex text-light">Archivos <%= data.archivos.length %></div>
    <div class="file mt-2">
        <% data.archivos.forEach(function(ar, i) { %>
        <% if ((i % 3) == 0) { %>
            <div class="row">
            <% } %>
            <div class="col card shadow-sm m-2">
                <div class="d-flex">
                    <div>
                        <a class="btn text-break card-body archivo">
                        <%=ar%>
                        </a>
                    </div>
                    <div class="justify-content-right align-self-center ms-auto px-1">
                        <form action="/eliminar?_method=DELETE" method="POST">
                            <input type="text" name="archivo" class="hide" value="<%=ar%>">
                            <button type="submit" class="btn-close mt-3 cerrar"></button>
                        </form>
                    </div>
                </div>
            </div>
            <% if ((i % 3) == 2) { %>
            </div>
            <% } %>
        <% }) %>
        </div>
        </div>
    </div>
    <hr>
    <% } %>

    <% if (data.archivos.length == 0 && data.hijos.length == 0) { %>
    <!-- CONTENIDO EN CASO DE NO HABER NI DIRECTORIOS NI ARCHIVOS -->
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col text-center"><img src="/assets/img/vacio.png" class="img-fluid invertido" width="150"></div>
            </div>
            <div class="row mt-2">
                <div class="col text-center justify-content-center invertido">
                    <h3>UPS, aqui no hay ni directorios ni archivos.</h3>
                </div>
            </div>
            <div class="row text-center">
                <a id="regresar"><img src="/assets/img/volver.png" class="img-fluid invertido" width="45"></a>
            </div>
        </div>
    <% } %>

    <!-- APARTADO PARA SUBIR ARCHIVOS -->
        <div class="container-fluid">
            <div class="d-flex text-light">Subir archivo</div>
            <form action="/subir" method="post" enctype="multipart/form-data">
                <div class="row subir-archivo mt-3">
                    <div class="col">
                        <input type="file" class="form-control card" id="formFileMultiple" name="archivoSubir" required>
                        <div class="col d-grid mt-2 justify-content-center">
                            <input type="submit" class="btn card" value="Subir archivo">
                        </div>
                    </div>
                </div>
            </form>
        </div> 

<!-- SCRIPTS -->
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/script/seleccionado.js"></script>
    <script type="text/javascript" src="sweetalert2.all.min.js"></script>
</body>
</html>