<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('componentes/links') %> 
    <title>Registros</title>
</head>
<body class="hide">
    <%- include('componentes/navbar') %> 

    <div class="container-fluid"></div>
    <div id="tabla-registros"></div>

    <%- include('componentes/modal') %> 
    <%- include('componentes/cerrar') %> 
    <%- include('componentes/lateral') %> 
    <%- include('componentes/login') %> 
    <%- include('componentes/scripts') %> 
</body>