<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('componentes/links') %> 
    <title>Registros</title>
</head>
<body class="hide">
    <%- include('componentes/navbar') %> 

    <div class="container-fluid my-2">
        <table class="data table table-striped table-borderless text-truncate">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Ruta</th>
                    <th>Fecha de creación</th>
                    <th>Versión actual</th>
                    <th>Eliminado</th>
                    <th>Fecha Eliminado</th>
                </tr>
            </thead>
            <tbody>
                <% registros.forEach(registro => { %>
                <tr >
                    <td>    <%= registro.idArchivo %>       </td>
                    <td>    <%= registro.nombre %>          </td>
                    <td>    <%= registro.ruta %>            </td>
                    <td>    <%= registro.fechaCreacion %>   </td>
                    <td>    <%= registro.versionActual %>   </td>
                    <td>    <%= registro.eliminado %>       </td>
                    <% if (registro.fechaEliminado) { %>
                    <td>    <%= registro.fechaEliminado %>  </td>
                    <% } else {  %> 
                    <td> No esta eliminado </td>
                    <% } %> 
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <%- include('componentes/modal') %> 
    <%- include('componentes/cerrar') %> 
    <%- include('componentes/lateral') %> 
    <%- include('componentes/login') %> 
    <%- include('componentes/scripts') %> 
</body>