<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('componentes/links') %> 
    <title>Registros</title>
</head>
<body class="hide">
    <%- include('componentes/navbar') %> 

    <div class="container-fluid my-2 table-responsive">
        <table id="registros" class="data table-striped">
            <thead>
                <tr class="text-center">
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Ruta</th>
                    <th>Creado</th>
                    <th>Versión</th>
                    <th>Eliminado</th>
                    <th>Fecha Eliminado</th>
                </tr>
            </thead>
            <tbody class="text-truncate">
                <% registros.forEach(registro => { %>
                <tr >
                    <td class="text-center"><%= registro.idArchivo %></td>
                    <td><%= registro.nombre %></td>
                    <td><%= registro.ruta %>
                        <a href="<%= registro.ruta %>" class="link-color">
                            <i class="bi bi-folder-symlink"></i>
                        </a>
                    </td>
                    <td class="text-center"><%= registro.fechaCreacion %></td>
                    <td class="text-center"><%= registro.versionActual %></td>
                    <td class="text-center"><%= registro.eliminado %></td>
                    <% if (registro.fechaEliminado) { %>
                        <td class="text-center"><%= registro.fechaEliminado %></td>
                    <% } else {  %> 
                        <td class="text-center"> No esta eliminado </td>
                    <% } %> 
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <%- include('componentes/modal') %> 
    <%- include('componentes/cerrar') %> 
    <%- include('componentes/lateral') %> 
    <%- include('componentes/login') %> 
    <%- include('componentes/scripts') %> 
</body>